//颜色
@wxColorGreen: #09bb07;
@wxColorBlack: #353535;
@wxColorGray: #888888;
@wxColorRed: #e64340;
@wxColorBlue: #576b95;
@wxColorGreenNew: #5fcd73;
@myColorGold: #b3a088;
@myColorBlack: #515151;

//字体大小
@fontSize32: 32px;
@fontSize28: 28px;
@fontSizeBig: 24px;
@fontSizeNormal: 18px;
@fontSizeSmall: 16px;
@fontSizeTiny: 14px;
@fontSizeTinyLess: 12px;
@fontSizeMicro: 10px;
